.about {
    position: absolute; 
    color: black;
    padding: 5%;

    // .CS {
    //     display: flex;
    //     height: 200vh;
    //     align-items: center;
    //     justify-content: center;
    // }

    .Text {
        display: flex;
        align-items: center;
        // justify-content: center;
    }

    .About_Body {
        opacity: 0;
        display: flex;
        height: 100vh;
        align-items: center;
        justify-content: center;
    }

}
